html, body, div {
	margin: 0;
	padding: 0;
}

body {
    color: #262626;
	background: #eee;
	font: normal 12px/18px Verdana, sans-serif;
}

#content {
	width: 600px;
	margin: 100px auto 20px auto;
	padding: 0 60px 30px 60px;
	border: solid 1px #cbcbcb;
	background: #fafafa;
	-moz-box-shadow: 0 0 10px #aaa;
	-webkit-box-shadow: 0 0 10px #aaa;
}

h1 {
	margin: 30px 0 15px 0;
	font-size: 30px;
	font-weight: bold;
}

h1 span {
	font-size: 50%;
	letter-spacing: -0.05em;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #E5E5E5;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding: 7px 0;
}

a {
	outline: none;
	color: #4f62a7;
}

a img {
	border: 1px solid #BBB;
	padding: 2px;
	margin: 10px 20px 10px 0;
	vertical-align: top;
}

a img.last {
	margin-right: 0;	
}

pre, p code {
    line-break: normal;
    border-color: #66806f;
    background-color: #ddede2;
    color: #212d23;
    border-radius: 2px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    padding: 5px;
}

code {
    line-break: normal;
}

p code {
    padding: 2px;
}

/* menu */
#base
{
	font-size: 53px;
	font-weight: bold;
}
.menu 
{
	position: absolute;
	top: 25px;
	left: 15px;
	font-size: 14px;
}
.menu ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	color: #CCC;
}
.menu ul li
{
	padding: 2px 7px 2px 7px;
	float: left;
	border-radius: 5px;
}
.menu a
{
	text-decoration: none;
    text-shadow: 0 1px 0 white;
	color: #333;
}
#root_menu
{
	position: relative;
	top: -41px;
	left: 240px;
}
.menu #current
{
	background: #DDD;
}
.menu #current a
{
    text-shadow: 0 1px 0 #efefef;
}

.start-to-end-time {
    font-size: 60%;
    opacity: 0.3;
}